.debug {
  border: 2px solid red;
}
.hover-expand-item:hover{
  transform: translate3D(0,-1px,0) scale(1.03) ;
  transition: all .3s ease;
}
.hover-pointer:hover{
  cursor: pointer;
}
/* for tabs  */

.list {
  position: relative;
  margin-bottom: var(--mantine-spacing-md);
}


.tab {
  z-index: 1;
  font-weight: 500;
  transition: color 100ms ease;
  color: var(--mantine-color-gray-7);
  border: 1px solid gray;
  border-radius: var(--mantine-radius-md);
  margin-right: 10px;
  &[data-active] {
    color: #FF0005;
    padding: 10px;
    border: 1px solid #ea777a;
    background-color: #FEF2F2;
    border-radius: var(--mantine-radius-md);
  }
  @mixin dark {
    color: var(--mantine-color-dark-1);

    &[data-active] {
      color: var(--mantine-color-white);
    }
  }
}

.blink_me {
  animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}